<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>    
    
    
<body>
<div class="container">  
  <form id="contact" action="/cancel" method="post">
    <h3>Cancel Your Train</h3>
      <div>
    <fieldset>
      <input placeholder="Email Id" type="email" tabindex="1" name="email" required >
    </fieldset>
          </div>
        <br>
        <br>
        <div>
    <fieldset>
      <input placeholder="Ticket ID" type="text" tabindex="2"  name="ticket id" required>
    </fieldset>
            </div>
        <br>
        <br>
      <button class="btn btn-success" name="Cancel" type="submit" id="contact-submit" data-submit="...Sending">Cancel Train</button>
  </form>
</div>
    </body>
</html>